[Match]
Kind=bridge
Name=mbsrv0

[Network]
Address=172.17.0.1/16
LinkLocalAddressing=yes
DHCPServer=yes
IPMasquerade=both
LLDP=yes
EmitLLDP=customer-bridge
IPv6AcceptRA=no
IPv6SendRA=yes

[DHCPServer]
ServerAddress=172.17.0.1/16
EmitTimezone=yes
EmitNTP=yes
EmitDNS=yes
DNS=172.17.0.1
#SendOption=26:uint16:65535

[IPv6Prefix]
AddressAutoconfiguration=yes
Prefix=fc00::/64
Assign=true